body {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #eee;
    overflow: hidden;
}

video {
    transform: rotateY(180deg);
}

.reverse {
    transform: scale(-1, 1);
}

.bold {
    font-weight: 800 !important;
}
.clickable:hover {
    cursor: pointer;
}

.container {
    width: calc(100% - 40px - 64px);
    height: calc(100% - 40px);
    margin: 20px;
    display: grid;
    gap: 20px;    
    grid-template-areas:
        "t c"
        "v c";
    grid-template-columns: minmax(auto, 1200px) minmax(360px, auto);
    grid-template-rows: minmax(auto, 720px) minmax(0,1fr);
}

.active {
    color: white !important;
}

.tabletop-area {
    
    position: relative;
    grid-area: t;
    background: black;
    text-align: center;
    display: flex;
    flex-flow: row;
    
    canvas {
        position: absolute;
    }
    
    video {
        background: black;
        height: 100%;
        width: 100%;
    }
    
    .tabletop-area__video-container {
        flex-grow: 1;
        position: relative;
        height: 100%;
    }
    
    .tabletop-area__palette-dropdown {
        background: #333;
        border-radius: 5px;
        width: 240px;
    }
    
    .tabletop-area__drawing-menu {
     
        position: absolute;
        display: flex;
        flex-direction: row;
        background: rgba(55,55,55,.6);
        height: 64px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        align-items: center;
               
        > i {
            font-size: 2em;
            margin: 0 15px;
        }

        > i:hover {
            color: #eee;
            cursor: pointer;
        }

        > .spacer {
            flex-grow: 1;
        }
        
    }
    
    initiative-tracker {
        
        display: flex;
        flex-direction: column;
        background: white;
        width: 240px;
        text-align: left;
        
        health-bar {
    
            display: block;
            overflow: hidden;
            position: relative;
            border: 1px solid white;
            border-radius: 10px;
            width: calc (100% - 2px);
            height: 10px;
            margin-top: 5px;

            &:not(:disabled):hover {
                cursor: pointer;
            }

        }
        
        ul {
            flex-grow: 1;
            overflow-y: auto;
        }
        
        button {
            width: 100%;
        }
        
    }
    
}

.video-grid-area {
    
    position: relative;
    right: 5px;
    width: calc(100% + 10px);
    grid-area: v;   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 10px;
    
    .video-grid-area__item {
        
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
        
        > div.uk-card {
            
            text-align: center;
            width: 182px;
            height: 137px;
            background: black;
            
            .video-grid-area__mute-button {
                display: none;
                font-size: 1.25em;       
                background: rgba(51,51,51,.6);
                height: 40px;
                width: 40px;
                border-radius: 50%;     
                &[muted] {
                    color: #eee;
                }
            }
            
        }
        
        health-bar {
    
            display: block;
            overflow: hidden;
            position: relative;
            border: 1px solid #333;
            width: calc (100% - 2px);
            height: 12px;

            &:not(:disabled):hover {
                cursor: pointer;
            }

        }
        
        span {
            color: #eee;
            height: calc(1em + 10px);
            width: calc(100% - 20px);
            overflow-y: hidden;
            background-color: rgba(51,51,51,.8);
            font-weight: 500;
            padding: 0 20px;
            border-radius: 5px 5px 0 0;
        }
        
        video {
            height: 100%;
            background: black;
        }
        
    }
    
}

.chat-area {
    
    grid-area: c;
    
    > div {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .chat-area__chatbox {
        
        flex-grow: 1;
        max-height: calc(100% - 260px);
        overflow-y: auto;
        
        display: flex;
        flex-direction: column-reverse;
        
        ul {
            padding: 20px;
        }
        
    }
    
    dice-tray {
        
        width: 100%;
        background: #eee;
        text-align: center;
        font-size: 1.5em;
        
        > table {
            margin-bottom: 0;
        }
        
    }
    
    .chat-area__alias {
        font-weight: 500;
    }
    
    .chat-area__textbox {
        min-height: 200px;
        resize: none;
    }
    
}

.menu {
    
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 64px;
    background: #333 !important;
    text-align: center;
    
    .menu-top, .menu-bottom {
        display: flex;
        flex-direction: column;
    }
    
    i {
        font-size: 2em;
        margin: 20px 0;
    }
    
    i:hover {
        color: #eee;
        cursor: pointer;
    }
    
    .spacer {
        flex-grow: 1;
    }
    
}

.player-select-modal {
    
    text-align: center;

    li:hover {
        font-weight: bold;
        color: black;
        cursor: pointer;
    }
    
}

.character-detail-modal {
    
    .character-detail-modal__abilities th, td {
        text-align: center;
    }
    
    .uk-modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}

.spellbook-modal {
    
    th, td {
        text-align: center;
    }
    
}

.list-modal {
    
    .uk-modal-body {
        
        max-height: 60vh;
        overflow-y: auto;
    
        table {
            border-spacing: 10px 0;
        }
    
    }
    
    .toggle > .uk-align-right {
        margin-bottom: 0 !important;
    }
    
}